/node_modules
/startup.sh
/test.js
/.~lock.BED-Assignment-1.docx#
/uploads/avatarIcons
/uploads/listingPictures
/update.txt
/back_end_server/node_modules
/back_end_server/uploads
/front_end_server/node_modules
