<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{!-- Adding Libraries here --}}
    <!-- Bootstrap Vue added here -->
    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <!-- Load polyfills to support older browsers -->
    <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>
    <!-- Load Vue followed by BootstrapVue -->
    <script src="//unpkg.com/vue@latest/dist/vue.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

    <!-- Axios added here -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    
    <title>{{title}}</title>
</head>
<body class="bg-dark text-white">

    <main id="app">
        <b-navbar toggleable='lg' type='dark' class="bg-secondary">
            <b-navbar-brand>SnapSell</b-navbar-brand>
            
        </b-navbar>

        {{{body}}}
    </main> 

    <!-- Utility functions -->
    <script>
        function formatMB(bytes, decimals = 6) {
            if (bytes === 0) return '0 Bytes';

            const k = 1024;
            const dm = decimals < 0 ? 0 : decimals;
            const i = 2

            return parseFloat((bytes / Math.pow(k, i)).toFixed(dm));
        }  

    </script>

    {{{_sections.scripts}}}
</body>

</html>