<main class="container-fluid mt-3">
    
</main>

{{#section 'scripts'}}
<script>
    const app = new Vue({
        el: '#app',
    });
    // Function to clear out all existing cookies
    function deleteAllCookies() {
        var cookies = document.cookie.split(";");
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i];
            var eqPos = cookie.indexOf("=");
            var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
            document.cookie = name + "=;path=/;expires=Thu, 01 Jan 1970 00:00:00 GMT";
        }
    }
    // Custom function called to logout the user
    function logout(){
        deleteAllCookies();
        window.location.pathname = '/login';
    }
    logout();
</script>
{{/section}}
