<main class="container-fluid mt-3">
    <div class="row">
        <div class="col-12">
            <article class="d-block w-100">
                <h2 class="d-block text-center">
                    Adding a new listing
                </h2>
            </article>
            <b-form 
            @submit='onSubmit'
            @reset='onReset'
            v-if='showForm'
            >
                {{!-- For the title --}}
                <b-form-group
                label='Title of your product'
                label-for='fTitle'>
                    <b-form-input
                    id="fTitle"
                    v-model='form.title'
                    type='text'
                    required
                    placeholder='Title'
                    :class='form_validation.title'
                    @change='changeInput(form_validation.title)'
                    >
                    </b-form-input>
                </b-form-group>
                {{!-- For the description --}}
                <b-form-group
                label="Your item's description"
                label-for='fDescription'>
                    <b-form-input
                    id="fDescription"
                    v-model='form.description'
                    type='text'
                    required
                    placeholder='Description'
                    :class='form_validation.description'
                    @change='changeInput(form_validation.description)'
                    >
                    </b-form-input>
                </b-form-group>
                {{!-- For the price --}}
                <b-form-group
                label="Your item's Price"
                label-for='fPrice'>
                    <b-form-input
                    id="fPrice"
                    v-model='form.price'
                    type='number'
                    required
                    placeholder='Price'
                    :class='form_validation.price'
                    @change='changeInput(form_validation.price)'
                    >
                    </b-form-input>
                </b-form-group>
                {{!-- If adding the listing failed --}}
                <template v-if='add_listing_failed'>
                    <p class="text-danger">Adding listing failed, please try again</p>
                </template>
                {{!-- Submit and reset buttons --}}
                <b-button type="submit" variant="primary">Submit</b-button>
                <b-button type="reset" variant="danger">Reset</b-button>
            </b-form>
        </div>
    </div>
</main>

{{#section 'scripts'}}
<script>
    const app = new Vue({
        el: '#app',
        data: {
            form: {
                title: '',
                description: '',
                price: null
            },
            showForm: true,
            // Server side error response 
            form_validation: {
                title: {
                    'is-invalid': false,
                },
                description: {
                    'is-invalid': false,
                },
                price: {
                    'is-invalid': false,
                },
            },
            add_listing_failed: false,
        },
        methods:{
            // General function called when an input is done
            changeInput(input_class_binding){
                input_class_binding['is-invalid'] = false;
                this.add_listing_failed = false;
            },
            onReset(event){
                event.preventDefault();
                this.form.title= '';
                this.form.description = '';
                this.form.price= null;
                //This is to reload the form to make it empty
                this.showForm = false;
                Vue.nextTick(() => {
                    this.showForm = true;
                });
            },
            // API Calls below
            onSubmit(event){
                event.preventDefault();
                axios
                .post('/api/listing', this.form)
                .then(
                    function(res){
                        console.log(res);
                        window.location.pathname = '/user/listing';
                    }
                )
                .catch(
                    function(err){
                        console.log(err.response);
                        // If there was any error
                        this.form_validation.title['is-invalid'] = true;
                        this.form_validation.description['is-invalid'] = true;
                        this.form_validation.price['is-invalid'] = true;
                        this.add_listing_failed = true;
                    }.bind(this)
                );
            }
        },
    });
</script>
{{/section}}
