<main class="container-fluid mt-3">
    <div class="row">
        <div class="col-12">
            <template
            v-if='listing'>
                <b-card
                :title='listing.title'
                :bg-variant='listing.availability ? "primary" : "success"'>
                    <b-card-text>
                        <span class="d-block font-weight-bold">Description</span>
                        <p>
                            \{{listing.description}}
                        </p>
                    </b-card-text>
                    <b-card-text>
                        <article>
                            <span class="font-weight-bold">Price: </span>
                            <span>
                                \{{listing.price}}
                            </span>
                        </article>
                        <article>
                            <span>Likes: \{{listing.num_likes}}</span>
                        </article>
                    </b-card-text>
                    <b-card-text>
                        <b-button variant="warning" :href='`/user/listing/edit/${listing.listing_id}`'>Edit</b-button>
                        <b-button
                        @click='deleteListing(listing.listing_id)'
                        variant="danger">
                            Delete
                        </b-button>
                    </b-card-text>
                </b-card>
            </template>
        </div>
    </div>    
</main>

{{#section 'scripts'}}
<script>
    const app = new Vue({
        el: '#app',
        data: {
            listing: null,
        },
        methods: {
            getListing(){
                const listing_id = window.location.pathname.split("/").pop();
                axios
                .get(`/api/listing/${listing_id}`)
                .then(
                    function(res){
                        this.listing = res.data.listing;
                    }.bind(this)
                )
                .catch(
                    function(err){
                        console.log(err.response);
                    }
                )
            },
            deleteListing(listing_id){
                axios
                .delete(`/api/listing/${listing_id}`)
                .then(
                    function(res){
                        console.log(res);
                        document.location.pathname = '/user/listing';
                    }.bind(this)
                )
                .catch(
                    function(err){
                        console.log(err);
                    }
                )
            }
        },
        created(){
            this.getListing();
        }
    });
</script>
{{/section}}
